<h1>Review <%= @restaurant.name %></h1><br>

<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :rating, collection: [0, 1, 2, 3, 4, 5] %>
  <%= f.input :content %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>

<br>

<%= link_to 'Go back to restaurant', restaurant_path(@restaurant) %>
